p{
    background-color: aquamarine;
}
a{
    background-color: rgb(164, 111, 215);
}

/* this was for the index.html
 div{
    background-color: yellow;
} */
h1{
    background-color: rgb(188, 142, 206);
}