.red{
    /* . refers to the class */
color: red;
}

#firstdiv{
    /* # refers to the id */
    background-color: rgb(165, 209, 64);
}

.bg-yellow{
    background-color: rgb(170, 253, 128);
}